.field {
  height: 45px;
  width: 100%;
  display: flex;
  position: relative;

  input {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    padding-left: 15px;
    padding-right: 40px;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.15s ease-in-out;
  }

  input:focus {
    border-color: #2e86de;
    box-shadow: 0 0 5px 1px rgba(46, 134, 222, 0.5);
  }
}

.showPassword {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
