.container {
  width: 500px;
  background-color: white;
  padding: 20px 30px;
  border-radius: 6px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);

  header {
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    text-transform: uppercase;
  }

  form {
    margin: 20px 5px 10px 5px;
  }
}
